@import 'tailwindcss';

@theme {
  /* Colors */
  --background: #ffffff;
  --foreground: #171717;

  --color-sea-green-100: #a7f2c7;
  --color-sea-green-300: #219653;
  --color-sea-green-500: #1a7e46;
  --color-fire-opal: #eb5757;
  --color-soft-grey: #959298;
  --color-cultured: #f4f4f4;
  --color-main-black: #0a0a0a;
  --color-dark-charcoal: #333333;

  --max-content-width: 1440px;
  --explore-padding-inline: 130px;
  --radius-lg: 12px;
  --color-button: var(--color-cultured);
  --line-height-title-lg: 68px;
  --line-height-title-md: 32px;
  --line-height-text: 32px;

  --font-size-title-lg: 60px;
  --font-size-title-md: 28px;
  --font-size-text: 24px;

  --font-wieght-title-lg: 600;
  --font-wieght-title-md: 700;
  --font-wieght-text: 400;
  --color-foreground: #171717;

  /* Breakpoints */
  --breakpoint-sm: 744px;
  --breakpoint-md: 1128px;
  --breakpoint-lg: 1440px;

  /* Radius */
  --radius-base: 8px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-roboto-sans), Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-weight: var(--font-wieght-title-lg);
    font-size: var(--font-size-title-lg);
    line-height: var(--line-height-title-lg);
    text-align: center;
    vertical-align: bottom;
  }

  h3 {
    font-weight: var(--font-wieght-title-md);
    font-size: var(--font-size-title-md);
    line-height: var(--line-height-title-md);
    vertical-align: bottom;
  }

  p {
    font-weight: var(--font-wieght-text);
    font-size: var(--font-size-text);
    line-height: var(--line-height-text);
    vertical-align: bottom;
  }
}

.explore-shell {
  padding-inline: var(--explore-padding-inline);
  max-width: var(--max-content-width, 2520px);
  margin-inline: auto;

  @media (min-width: 744px) {
    --explore-padding-inline: 40px;
  }

  @media (min-width: 1128px) {
    --explore-padding-inline: 40px;
  }

  @media (min-width: 1440px) {
    --explore-padding-inline: 80px;
  }
}

.grid-shell {
  grid-template-columns: repeat(var(--breakpoint-grid-columns, 1), minmax(0, 1fr));
  gap: 40px 24px;
  grid-auto-flow: row dense;
  --breakpoint-grid-columns: 1;

  @media (min-width: 550px) {
    --breakpoint-grid-columns: 2;
  }
  @media (min-width: 950px) {
    --breakpoint-grid-columns: 3;
  }
  @media (min-width: 1128px) {
    --breakpoint-grid-columns: 4;
  }
  @media (min-width: 1640px) {
    --breakpoint-grid-columns: 5;
  }
  @media (min-width: 1880px) {
    --breakpoint-grid-columns: 6;
  }
}
