@import 'tailwindcss';

@theme {
  /* Colors */
  --background: #ffffff;
  --foreground: #171717;

  --color-sea-green-100: #a7f2c7;
  --color-sea-green-300: #219653;
  --color-sea-green-500: #1a7e46;
  --color-soft-grey: #959298;
  --color-cultured: #f4f4f4;

  --max-content-width: 1440px;
  --explore-padding-inline: 20px;
  --color-button: var(--color-cultured);
  --color-bg-button: var(--color-sea-green-300);

  --line-height-title-md: 32px;
  --line-height-text: 32px;

  --font-size-title-md: 28px;
  --font-size-text: 24px;

  --font-wieght-title-md: 700;
  --font-wieght-text: 400;

  /* Breakpoints */
  --breakpoint-sm: 744px;
  --breakpoint-md: 1128px;
  --breakpoint-lg: 1440px;

  /* Radius */
  --radius-lg: 12px;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-roboto-sans), Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h3 {
    font-weight: var(--font-wieght-title-md);
    font-size: var(--font-size-title-md);
    line-height: var(--line-height-title-md);
    vertical-align: bottom;
    color: var(--color-soft-grey);
  }

  p {
    font-weight: var(--font-wieght-text);
    font-size: var(--font-size-text);
    line-height: var(--line-height-text);
    vertical-align: bottom;
    color: var(--color-soft-grey);
  }
}

@layer utilities {
  .explore-shell {
    padding-inline: var(--explore-padding-inline);
    max-width: var(--max-content-width, 2520px);
    margin-inline: auto;

    @media (min-width: 744px) {
      --explore-padding-inline: 20px;
    }

    @media (min-width: 1128px) {
      --explore-padding-inline: 40px;
    }

    @media (min-width: 1440px) {
      --explore-padding-inline: 80px;
    }
  }

  .text-trim {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
  }
}
